Ab{
 text-align: left; 
 padding-left: 28px;
 padding-right: 302px;
 padding-top: 56px;
 padding-bottom: 23px;
 width: 30px;
 height: 30px;
 margin-left: 28px;
}
Bc{
    padding-top: 23px;
    padding-left: 22px;
    padding-bottom: 17px;
    padding-right: 251px;
    margin-top: 109px;
    margin-bottom: 652px;
    text-align: left;
    margin-left: 22px;
    margin-right: 251px;
}
Rf{
   text-align: left; 
   background-color: blueviolet;
   padding: 17px 29px 24px 20px;
   color: aliceblue;
}
abc{
text-align: left;
padding: 24px 24px 32px 29px;
}
dfg{
    text-align: center;
    padding: 24px 24px 29px 32px;
}
hij{
    text-align: right;
    padding: 24px 66px 29px 32px;
}
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  Mmm{
    padding:24px 32px 26px 271px;
    text-align: left;
    height: 24px;
    width: 65px;
  }
  Eee{
    padding: 26px 24px 20px 12px;

  }
  rrr{
    padding:12px 12px 24px 20px ;
  }
  ttt{
    padding: 12px 20px 24px 91px;
  }
