Ab{
 text-align: left; 
 padding-left: 28px;
 padding-right: 302px;
 padding-top: 56px;
 padding-bottom: 23px;
 width: 30px;
 height: 30px;
 margin-left: 28px;
}
Bc{
    padding-top: 23px;
    padding-left: 22px;
    padding-bottom: 17px;
    padding-right: 251px;
    margin-top: 109px;
    margin-bottom: 652px;
    text-align: left;
    margin-left: 22px;
    margin-right: 251px;
}
Rf{
   text-align: left; 
   background-color: blueviolet;
   padding: 17px 29px 24px 20px;
   color: aliceblue;
}
abc{
text-align: left;
padding: 24px 24px 32px 29px;
}
dfg{
    text-align: center;
    padding: 24px 24px 29px 32px;
}
hij{
    text-align: right;
    padding: 24px 66px 29px 32px;
}

